html, body {
    height: 100%;
}

.signUp {
    width: 200px;
    padding: 40px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 12vh;
}
